# OSX
#
.DS_Store

# node.js
#
node_modules/
npm-debug.log
yarn-error.log
.yarn/*
!.yarn/releases
!.yarn/plugins
!.yarn/patches
package-lock.json
.pnp.*

# Visual Studio Code
#
.history
.vscode/*
!.vscode/settings.json

# Test
#
coverage/*
jest/*

# Other
#
dist/
docs/
lib/
